<link rel="stylesheet" href="/css/header.css">
<header>
    
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand">Habit Tracker</a>
          <form class="d-flex">
            <input id="search-bar" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" onkeyup="sortRows()">
           </form>
        </div>
      </nav>

</header>