


<form action="/create" method="post" id="createHabit">
    <img src="https://healthtricks.in/wp-content/uploads/2021/06/How-to-Change-Bad-Habits-and-Adopt-Good-Habits-Easily..jpg" alt="habit of image">
    <label for="habit">Habit Name</label>
    <input type="text" name="habit" required>
    
    <label for="goal">Goal Behind</label>
      <input type="text" name="goal" required>
      
    <label for="start_time">Time</label >
    <input type="time" name="start_time" required>
    
    <button type="submit">Add habit</button>
  
  </form>